
body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: #1F1B24;
    color: white;
  }

.card {
    position: relative;
    text-align: center;
    color:white;
}

p {
    text-align: center;
    font-family: sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-header-icon {
    justify-content: center;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }
  #quote-text {
    font-family: 'Rock Salt', cursive;
  }

  body{
    padding: 0px;
  }
  button{
    justify-self: center;
  }

  .centerme{
    align-items: center;
  }