#header {
    color: red;
}

.card {
    position: relative;
    text-align: center;
    color:white;
}

p {
    text-align: center;
    font-family: sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-header-icon {
    justify-content: center;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }
  
  /* #img-box{
      width: 100vw;
  } */

  button{
    width: 250px;
    height: 250px;
    border-radius: 250px;
  }

  .container {
      width: 50%;
  }

  #quote-text {
    font-family: 'Rock Salt', cursive;
  }